@mixin reset-button {
  padding: 0;
  border: none;
  border-radius: 0;
  line-height: inherit;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin reset-link {
  color: currentColor;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
