@import "helpers";

:host {
  position: relative;


  .navigation-button {
    @include reset-button;
    @include transition-basic();

    &:active {
      box-shadow: none;
      outline: none;

    }

    &:hover,
    &:active {

      .navigation-button__icon {
        background: rgba($color-white, 0.15);
      }

      .navigation-button__title {
        opacity: 0.7;
      }
    }

    &_active {
      pointer-events: none;
    }

    &__icon {
      @include transition-basic();
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: rgba($color-white, 0.25);
      color: $color-white;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(20px);

      span {
        &::before {
          font-size: 48px;
          line-height: 48px;
        }
      }
    }

    &__title {
      @include font-16(regular);
      @include transition-basic();
      position: absolute;
      text-transform: uppercase;
      top: 50%;
      transform: translateY(-50%);
      left: 110px;
      white-space: nowrap;
      color: $color-white;
    }
  }
}
