$color-background: #211f3b;
$color-dark-blue: #1c4a58;
$color-dark-blue-2: #2a5764;
$color-dark-blue-3: #3d6b79;
$color-blue-light: #58fdf2;
$color-blue-light-1: #20b8e7;
$color-red-light: #f57171;
$color-grey-light: #e1e6e6;
$color-white: #fff;
$color-black: #000;
$color-light-green-1: #68ff65;

$background-gradient: radial-gradient(
  at 28% 52%,
  rgb(98, 131, 138) 0%,
  rgb(19, 82, 101) 78%,
  rgb(19, 82, 101) 100%
);

$font-montserrat: "Montserrat";
$font-rubik: "Rubik";
