$color-main: #135265;
$color-dark-blue: #1c4a58;
$color-blue-light: #58fdf2;
$color-red-light: #f57171;
$color-grey-light: #e1e6e6;
$color-white: #fff;

$background-gradient: radial-gradient(
  at 28% 52%,
  rgb(98, 131, 138) 0%,
  rgb(19, 82, 101) 78%,
  rgb(19, 82, 101) 100%
);

$font-montserrat: "Montserrat";
$font-rubik: "Rubik";
