$color-main: #135265;
$color-dark-blue: #1c4a58;
$color-blue-light: #58fdf2;
$color-red-light: #f57171;
$color-grey-light: #e1e6e6;
$color-white: #fff;

$font-montserrat: "Montserrat";
$font-rubik: "Rubik";
