<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      throwExceptions="true"
      internalLogLevel="Error"
      internalLogFile="${basedir}/logs/internal-nlog.txt">
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <target name="FileLogger" xsi:type="File" encoding="utf-8"
                autoFlush="false"
                openFileFlushTimeout="30"
                fileName="${basedir}/logs/${shortdate}/${shortdate}.log"
                archiveNumbering="Sequence"
                archiveAboveSize="104857600"
                archiveFileName="${basedir}/logs/${shortdate}/${shortdate}_{###}.zip"
                maxArchiveDays="14"
                enableArchiveFileCompression="true">
            <layout xsi:type="JsonLayout">
                <attribute name="Time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
                <attribute name="Level" layout="${level:upperCase=true}" />
                <attribute name="Logger" layout="${logger:shortName=true}" />
                <attribute name="LoggerFull" layout="${logger}" />
                <attribute name="RequestId" layout="${aspnet-traceidentifier}" />
                <attribute name="Method" layout="${aspnet-Request-Method}" />
                <attribute name="Url"
                           layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
                <attribute name="Message" layout="${message:when=equals(starts-with(message,'@'),false)}" />
                <attribute name="Exception" layout="${exception:format=@}" encode="false" />
                <attribute name="Emitter" encode="false">
                    <layout xsi:type="JsonLayout">
                        <attribute name="Env" layout="${environment:ASPNETCORE_ENVIRONMENT}" />
                        <attribute name="Version" layout="${environment:SERVICE_VERSION}" />
                    </layout>
                </attribute>
                <attribute name="Data" encode="false">
                    <layout type="JsonLayout"
                            suppressSpaces="true"
                            renderEmptyObject="false"
                            includeAllProperties="true"
                            maxRecursionLimit="4" />
                </attribute>
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" minlevel="Info" writeTo="FileLogger" final="true"/>
        <logger name="Microsoft*" maxLevel="Info" final="true" />
        <logger name="*" minlevel="Info" writeTo="FileLogger" />
    </rules>
</nlog>