<button class="settings-footer-item settings-footer-item_active">
  <span class="settings-footer-item__icon mdi mdi-air-filter"></span>
  <span class="settings-footer-item__name">Фильтрация</span>
</button>
<button class="settings-footer-item">
  <span class="settings-footer-item__icon mdi mdi-water"></span>
  <span class="settings-footer-item__name">Дозирование</span>
</button>
<button class="settings-footer-item">
  <span class="settings-footer-item__icon mdi mdi-ferris-wheel"></span>
  <span class="settings-footer-item__name">Аттракционы</span>
</button>
<button class="settings-footer-item">
  <span class="settings-footer-item__icon mdi mdi-view-module"></span>
  <span class="settings-footer-item__name">Модуль ИРК</span>
</button>
