@import "helpers";

:host {
  display: flex;
  background: $background-gradient;
  backdrop-filter: blur(50px);
  height: 100vh;
  overflow: hidden;
  padding: 24px;
}

.dashboard {
  display: flex;
  flex: 1 1 auto;

  &__navigation {
    width: 50%;
  }

  &__data {
  }
}

.dashboard-devices {
  display: grid;
  grid-row-gap: 12px;
  grid-column-gap: 12px;
  grid-template-columns: repeat(2, 1fr);

}
