@import "helpers";

:host {
  display: flex;
  background: $background-gradient;
  backdrop-filter: blur(50px);
  height: 100vh;
  overflow: hidden;
  padding: 24px;
}

.dashboard {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;

  &__navigation {
    width: 50%;
  }

  &__data {
  }
}

.dashboard-navigation {
  display: flex;
  align-items: center;
  position: relative;
  left: -70px;

  &__navigation {

  }
}
