@import "helpers";


$numberOfItems: 5;
$deg: 360deg / $numberOfItems;
$m: 1;

$offset: 100px;

:host {
  display: flex;
  position: relative;
  width: 307px;
  height: 307px;
  border-radius: 50%;
  background: rgba($color-white, 0.2);
}

.navigation {
  $navigation: &;

  &__radio {

  }

  &__menu {
    //position: absolute;
    //top: 0;
    //bottom: 0;
    //left: 0;
    //right: 0;
    //border-radius: 50%;
    //margin: 0;
    //border: 125px solid transparent;
  }

  &__menu-item {
    @include transition-basic();
    //position: absolute;
    list-style: none;
    //top: -($offset);
    //left: -($offset);
    //transform-origin: 130px 130px;

    //@for $m from 1 through $numberOfItems {
    //  &:nth-child(#{$m}) {
    //    transform: rotate(45 + $deg * $m);
    //
    //    #{$navigation}__button {
    //      //transform: rotate(-$deg * $m + 720 - 45);
    //    }
    //  }
    //}
  }

  &__button {
    position: absolute;
  }
}

.datetime {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
