@import "helpers";

:host {
  display: flex;
  position: relative;
  width: 307px;
  height: 307px;
  border-radius: 50%;
  background: rgba($color-white, 0.2);
}

.navigation {
  &__button {
    position: absolute;
  }
}

.datetime {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
