<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error"
      internalLogFile="c:/logs/Pool/internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets >
    <target name="FileLogger" xsi:type="File" encoding="utf-8"
            autoFlush="false"
            openFileFlushTimeout="30"
            fileName="${gdc:item=basedir}${dir-separator}${shortdate}${dir-separator}${shortdate}.log"
            archiveNumbering="Sequence"
            archiveAboveSize="104857600"
            archiveFileName="${gdc:item=basedir}${dir-separator}${shortdate}${dir-separator}${shortdate}_{###}.zip"
            maxArchiveDays="14"
            enableArchiveFileCompression="true">
      <layout xsi:type="JsonLayout">
        <attribute name="Time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
        <attribute name="Level" layout="${level:upperCase=true}"/>
        <attribute name="Logger" layout="${logger:shortName=true}" />
        <attribute name="LoggerFull" layout="${logger}" />
        <attribute name="RequestId" layout="${aspnet-traceidentifier}" />
        <attribute name="Method" layout="${aspnet-Request-Method}" />
        <attribute name="Url"
                   layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
        <attribute name="Message" layout="${message:when=equals(starts-with(message,'@'),false)}" />
        <attribute name="Exception" layout="${exception:format=@}" encode="false" />
        <attribute name="Emitter" encode="false">
          <layout xsi:type="JsonLayout">
            <attribute name="Env" layout="${environment:ASPNETCORE_ENVIRONMENT}" />
            <attribute name="Version" layout="${environment:SERVICE_VERSION}" />
          </layout>
        </attribute>
        <attribute name="Data" encode="false">
          <layout type="JsonLayout"
                  suppressSpaces="true"
                  renderEmptyObject="false"
                  includeAllProperties="true"
                  maxRecursionLimit="4" />
        </attribute>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" finalMinlevel="Info" writeTo="FileLogger" />
    <!-- <logger name="Microsoft.*" finalMaxLevel="Info" /> -->
    <logger name="Microsoft*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="FileLogger" />
    
    
    
    
    
    
	  <!-- <logger name="Microsoft.*" maxlevel="Info" final="true" /> -->
	  <!-- Exception logs in ExceptionMiddlewareExtensions -->
	  <!-- <logger name="Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware" final="true" /> -->
	  <!-- <logger name="*LogicalHandler" maxlevel="Info" final="true" /> -->
	  <!-- <logger name="*ClientHandler" maxlevel="Info" final="true" /> -->
	  <!-- -->
	  <!-- <logger name="*" minlevel="Trace" writeTo="ConsoleLogger" /> -->
  </rules>
</nlog>
